*{
margin:0px;
padding: 0px;
}
nav{
    width: 80%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
}
.leftbox{
    width: 60%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbox{
    width: 40%;
    height: 50px;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.rightbox ul{
    gap:20px;
    display:flex;
    list-style: none;
    
}

.icon{
    position: relative;
    right: 160px;
}
